/* gerais */

body{
    font-family: 'Lato', sans-serif;
    background-color: rgb(199, 199, 199);
}

.row{
    margin: 0;
}

.container{
    padding: 70px 0;
}

p,li{
    color: rgb(36, 58, 78);
    font-size: 14px;
}

/* barra de navegação(nav) */

header, .navbar{
    background-color: rgb(39, 23, 59);
    height: 18%;
}

#nav-container{
    padding-top: 0 ;
    padding-bottom: 0;
}

.navbar{
    height: 15%;
}

#logo{
    width: 10%;
    margin: 10px;
}

.navbar-nav{
margin-right: 150px ;
 font-size: 16px; 
}



.navbar-brand{
    padding: 0;
    color: white;
}

.navbar-brand:hover{
    color: white;
}

#navbar-links a{
    color: white;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1re, .10rem;
}


/* carousel */

.container-fluid{
    padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item{
    height: 90vh;
}

#mainSlider .carousel-caption{
    top: 30%;
}


.carousel-inner h2{
    font-size: 50px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 15px rgb(3, 226, 255);
    margin-bottom: 60px;
}

.carousel-inner p{
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    margin-bottom: 60px;
}

.main-btn{
    background-color: rgb(4, 196, 255);
    text-decoration: none;
    border-radius: 30px;
    padding: 10px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    width: 200px;
    height: 60px;
    border: 3px solid transparent;
    transition: .5s;
    text-transform: uppercase;
    margin-bottom: 80px;
}

.main-btn:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border-color: rgb(4, 196, 255);
}


.carousel-indicators .active{
    background-color: rgb(0, 0, 0); 
}

.carousel-indicators{
    margin: 80px;
}

/* sobre a IB */

.col-md-6 img{
    width: 100%;
}
#about-area{
    background-color: rgb(199, 191, 191);
}

.main-title {
    color: rgb(6, 72, 170);
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
  }
  
.about-title{
    font-size: 17px;
    color: rgb(6, 72, 170);
    text-transform: uppercase;
    font-weight: bold;
    
}

#about-list{
    list-style: none;
    padding-left: 0;
}

#about-list li {
    line-height: 30px;
}

#about-list i {
    color: rgb(18, 65, 58);
    margin-right: 15px;
}

.icons-theme i{
    color: red;
}

/* books */

.col-md-4{
    padding: 0;
    
}
.col-md-4 img{
    width: 70%;
}
.img-book{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.content-book{
    display: flex;
    flex-direction: column;
}

.content-book i {
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: 0.5s;
}

.content-book i:hover{
    color: rgb(55, 208, 247);
}

.content-book h3{
    text-align: center;
}

.text-decoration{
    padding: 10px;
    width: 80%;
    margin: auto;
    font-size: 16px;
}

/* DADOS */

.circle-box div{
    padding: 0 40px;
}



.progressbar-text{
    font-weight: bold;
    font-size: 32px;
}

#data-area p{
    color: white;
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
}



